
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

            /*New Style CSS*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    /* transition: 3s opacity;*/
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.2vw;
    overflow-x: hidden;
    user-select: none;
    text-decoration-color: white;
}
/*body.fade-out {
    opacity: .1; 
}
*/
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color:  saddlebrown;
}

    h1:hover {
        filter: grayscale(5%);
        transform: scale(1.1);
        transition: transform 1s;
        color: darkorange;
    }

.white-text {
    color:  cornsilk;
    padding-top: 10vh;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color:  cornsilk;
}

    p:hover {
        transition: transform 1s;
        transform: scale(1.1);
    }

.center {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    color: darkred;
    opacity: .8;
}

    .center:hover {
        transition: transform 6s;
        transform: scale(1.3);
        color:yellow;
        background-color: black;
    }

a { /* Anchor elements */
    color: rgb(11, 11, 248);
    cursor: pointer;
    text-decoration: underline;
    position: center;
    text-align: center;
    font-weight: bold;
}

q { /* Quotation elements */
    font-style: italic;
}

.Slideshow_Images { /* Image elements */
    filter: grayscale(75%);
    border-radius: 10px;
    max-width: 35%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img:hover {
    filter: grayscale(5%);    
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2%;
    opacity: 1;
}
#footer_img {
    height: 100%;
    display: block;
}
/* END OF GENERAL STYLING */

.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

    .Navbar a { /*Navbar Links */
        float: left;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Avant Garde, Helvetica;
        font-size: 20px;
        text-align: center;
        position: relative;
        -webkit-animation: moveNavText 5.75s;
        animation: moveNavText 5.75s;
    }

@keyframes moveNavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}
/* Navbar hover effects */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.Navbar a.active { /* Navbar home button */
    background-color: darkgray;
}
                            /***** Slideshow Styling *****/
#Slideshow_Background {
    background-color:  none  ;
    opacity:  .5;
}

.mySlides {
    display: none ;
}
/* Slideshow container */
#Slideshow_Container {
    width: 30.5vw;
    height: auto;
    padding-top: 04%;
    position: relative;
    margin: auto;
}

#Slideshow_Container a {
    text-decoration:   auto;
}
/* Images in slideshow */
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 30%;
}
/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10%;
    padding: 1vw;
    color:   Background;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 12px 13px 13px 12px;
    user-select: none;
    transition: 0.6s ease;
}
/* Positioning button */
.Previous {
    margin-left: 20px;
}

.Next {
    right: 0;
    border-radius: 12px 13px 13px 12px;
    margin-right: 21px;
}
/* Hover effect buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(3, 2, 1, 0.658);
    color: white;
}
/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position:   relative;
    bottom: 0;
    width: 30.5vw;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .3vw;
    font-size: 1.4vw;
    background-color: black;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    flex-wrap: wrap;
    margin-left: 330px;
    opacity: 1;
}
/* Styling of the dots */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color:  goldenrod;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}
/* Hover effect */
.active, .dot:hover {
    background-color: black;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4;    }
    to {
        opacity: 1;    }
}
@keyframes fade {
    from {
        opacity: .4;  }
    to {
        opacity: 1;    }
}
/* End Slideshow Styling */
* {
    box-sizing: border-box;
}
#natre img {
    filter: grayscale(75%);
    border-radius: 10px;
    max-width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#natre a {
    font-size: 25px;
    color: rgb(14, 71, 179);
}
#view {
    font-size: 25px;
}
#Slideshow_Container {
    width: 80%;
    height: fit-content;
    position:center;
}
.Column_1 {
    float:  left ;
    width: 100%;
    padding: 10px;
    padding-top: 3%;
    padding-left: 9px;
    height:  auto;
    opacity: .8;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float:  inline-end;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height:  auto;
    opacity: .8;
}

.Column_tall {
    padding-top: 3.5%;
    height:  auto;
    opacity: .8;
}
.ip {
    text-align: center;
    font-size: 25px;
    color: deeppink;
    padding-bottom: 10px;
    position: center;
}
/* Styling for the contact form 

.Row:after {
    content: "";
    display: table;
    clear: both;
    opacity: .8;
}

                        /* Styling for the contact form */
.Pop_Up_Button {
    position: fixed;
    bottom: 2.75vw;
    right: 1.75vw;
    width: 25vw;
    border-radius: 50%;
    background-color: #a5a4a4;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        right: 1.75vw;
    }
}

@-webkit-keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        right: 1.75vw;
    }
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}
/* Form styling */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: rgb(116, 115, 115);
    border-radius: 20px 20px;
}
    /* Input */
    .form-container input[type=text] {
        width: 100%;
        padding: .93vw;
        margin: .6vw 0 .6vw 0;
        border: none;
        background: Gainsboro;
        font-size: 1vw;
    }
/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
}
    /* Hover effect for contact and submit buttons */
    button:hover, .form-container .btn:hover {
        color: white;
        background-color: black;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
        border-color: silver;
    }
/* Submit button */
.form-container .btn {
    background-color: #9e755d;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
    border-radius: 15%;
}
/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}
    /* Styling for close button on hover */
    .form-container .cancel:hover {
        color: white;
        background-color: darkred;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
        border-color: black;
    }
